div.container {
  font-family: monospace;
  color: #32085a;
}

div .weather-app {
  border: 2px solid #561e8a;
  border-radius: 30px;
  background: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  max-width: 630px;
  max-height: 605px;
  margin: 30px auto;
  padding: 20px 20px 0px;
}

img#lavender {
  width: 98%;
  padding-bottom: 10px;
  border-radius: 20px;
  opacity: 0.4;
  display: block;
  margin: 0 auto;
}

form {
  padding-left: 30px;
}

input.btn-primary {
  background: #561e8a;
  border: 2px solid #561e8a;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

input.btn-primary:hover {
  background: #9655af;
  border: 2px solid #561e8a;
}

h1 {
  padding: 5px;
  font-size: 35px;
}

ul.weather-condition {
  list-style: none;
  padding-left: 10px;
}

div.current-temp {
  padding-left: 200px;
  position: relative;
  bottom: 45px;
}

span.temperature strong {
  font-size: 45px;
}

div.current-temp img {
  max-width: 100px;
  padding-bottom: 30px;
}

span.unit {
  position: relative;
  bottom: 10px;
  font-size: 25px;
}

.forecast-weekday {
  position: relative;
  bottom: 55px;
}

.forecast-weekday:hover {
  color: #8041f5;
}

.weather-forecast {
  text-align: center;
}

.forecast-date {
  font-size: 18px;
}

.forecast-temp {
  font-size: 17px;
}

.forecast-min-temp {
  opacity: 0.7;
}

div.coder a {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

div.coder a:hover {
  color: #9655af;
}

#date,
#description,
#humidity,
#wind-speed {
  color: #32085a;
  opacity: 0.6;
}

.coder {
  text-align: center;
  font-size: 13px;
  position: relative;
  bottom: 30px;
}
